USE [SFA]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Address1] [nvarchar](120) NOT NULL,
	[Address2] [nvarchar](120) NULL,
	[Address3] [nvarchar](120) NULL,
	[City] [nvarchar](100) NOT NULL,
	[State] [nvarchar](5) NOT NULL,
	[Country] [char](2) NOT NULL,
	[Zip] [nvarchar](16) NOT NULL,
	[ZipPlus] [nvarchar](16) NULL,
	[Name] [nvarchar](120) NULL,
	[Phone] [nvarchar](36) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryMaxDiscount]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryMaxDiscount](
	[MaxDiscountId] [int] IDENTITY(1,1) NOT NULL,
	[Category] [varchar](50) NULL,
	[DiscountPercent] [decimal](17, 8) NULL,
	[IsSegment] [bit] NULL,
	[pcat] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaxDiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHRobinsonLog]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHRobinsonLog](
	[ReferenceNumber] [uniqueidentifier] NOT NULL,
	[BolNumber] [nvarchar](50) NOT NULL,
	[FilePath] [nvarchar](200) NOT NULL,
	[CustomerNumber] [nvarchar](20) NULL,
	[ShipToName] [nvarchar](50) NULL,
	[OrderNumbers] [nvarchar](300) NULL,
	[Request] [nvarchar](max) NOT NULL,
	[Response] [nvarchar](max) NULL,
	[Error] [nvarchar](max) NULL,
	[Misc] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReferenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHRobinsonSettings]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHRobinsonSettings](
	[SettingKey] [nvarchar](50) NOT NULL,
	[SettingValue] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_CHRobinsonSettings] PRIMARY KEY CLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyUserSetting]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyUserSetting](
	[CompanyUserId] [int] NOT NULL,
	[AvatarPath] [nvarchar](2000) NULL,
 CONSTRAINT [PK_CompanyUserSetting] PRIMARY KEY CLUSTERED 
(
	[CompanyUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CRMActivity]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRMActivity](
	[ActivityId] [int] IDENTITY(1,1) NOT NULL,
	[ActivityTypeId] [int] NOT NULL,
	[CustomerNumber] [decimal](18, 0) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Attendees] [varchar](200) NULL,
	[InteractionDate] [datetime] NULL,
	[Location] [varchar](200) NULL,
	[Content] [nvarchar](max) NULL,
	[Title] [nvarchar](200) NULL,
	[FollowUpDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[AssignedTo] [int] NOT NULL,
	[IsComplete] [bit] NOT NULL,
	[IsPinned] [bit] NULL,
	[CreatedByCompanyUserId] [int] NOT NULL,
	[ShipToNumber] [nvarchar](16) NULL,
	[CallDirection] [varchar](25) NULL,
	[DidRespond] [bit] NULL,
	[SFAOrderId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CRMActivityContact]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRMActivityContact](
	[ActivityId] [int] NULL,
	[ContactId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CRMActivityProgram]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRMActivityProgram](
	[ActivityId] [int] NULL,
	[ProgramId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CRMActivityType]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRMActivityType](
	[ActivityTypeId] [int] IDENTITY(1,1) NOT NULL,
	[ActivityType] [varchar](100) NOT NULL,
	[IsInteraction] [bit] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ActivityTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CRMAttachment]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRMAttachment](
	[AttachmentId] [int] IDENTITY(1,1) NOT NULL,
	[ActivityId] [int] NOT NULL,
	[Name] [varchar](300) NULL,
	[Path] [varchar](300) NULL,
	[CreateDate] [datetime] NULL,
	[FileType] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttachmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CRMContact]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRMContact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[ContactName] [varchar](100) NOT NULL,
	[CustomerNumber] [decimal](15, 0) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CRMProgram]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRMProgram](
	[ProgramId] [int] IDENTITY(1,1) NOT NULL,
	[ProgramName] [varchar](100) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgramId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_CRMProgram_ProgramName] UNIQUE NONCLUSTERED 
(
	[ProgramName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerSetting]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerSetting](
	[Number] [nvarchar](200) NOT NULL,
	[AvatarPath] [nvarchar](2000) NULL,
 CONSTRAINT [PK_CustomerSetting] PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaxDiscountLog]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaxDiscountLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[userSalesMgr] [nvarchar](40) NOT NULL,
	[ItemNumber] [nvarchar](50) NOT NULL,
	[customerNumber] [nvarchar](20) NOT NULL,
	[customerName] [nvarchar](50) NOT NULL,
	[customerPrice] [decimal](18, 2) NOT NULL,
	[overridePrice] [decimal](18, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[pcat] [nvarchar](10) NOT NULL,
	[pcatName] [nvarchar](50) NOT NULL,
	[sfaOrderId] [int] NOT NULL,
	[businessSegment] [nvarchar](10) NOT NULL,
	[MaxDiscount] [decimal](18, 2) NOT NULL,
	[CurrentDiscount] [decimal](18, 2) NOT NULL,
	[CategoryManagerEmail] [nvarchar](50) NOT NULL,
	[CategoryManagerName] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SFAOrder]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SFAOrder](
	[SFAOrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerNumber] [decimal](15, 0) NOT NULL,
	[ShipToNumber] [nvarchar](16) NULL,
	[CustomerPO] [nvarchar](44) NULL,
	[Reference] [nvarchar](48) NULL,
	[ShipViaType] [nvarchar](4) NULL,
	[RequiredShipDate] [datetime] NULL,
	[CreateDate] [datetime] NOT NULL,
	[ApproveType] [nvarchar](2) NULL,
	[ShipComplete] [bit] NULL,
	[TermsType] [nvarchar](8) NULL,
	[WarehouseCode] [nvarchar](8) NULL,
	[OrderType] [char](1) NOT NULL,
	[CompanyUserId] [int] NOT NULL,
	[Carrier] [nvarchar](50) NULL,
	[AllowBackorder] [bit] NOT NULL,
	[PrintNote] [bit] NOT NULL,
	[Freight] [bit] NOT NULL,
	[QuoteLost] [bit] NOT NULL,
	[QuotePresented] [bit] NOT NULL,
	[TermCode] [nvarchar](14) NULL,
	[OrderedBy] [nvarchar](100) NULL,
	[Note] [ntext] NULL,
	[CustomShipToAddressId] [int] NULL,
	[OrderNumber] [int] NULL,
	[OrderSuffix] [int] NULL,
	[SubmitDate] [datetime] NULL,
	[IsOpenOrderEdit] [bit] NOT NULL,
	[OrderQuote] [varchar](50) NULL,
	[SubmittedByCompanyUserId] [int] NULL,
	[IsCustomAddress] [bit] NOT NULL,
	[ProgramId] [int] NULL,
	[IsShowOrder] [bit] NOT NULL,
	[ApprovalSubmittedDate] [datetime] NULL,
	[Sourcepros] [nvarchar](10) NULL,
 CONSTRAINT [PK_SFAOrder] PRIMARY KEY CLUSTERED 
(
	[SFAOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SFAOrderItem]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SFAOrderItem](
	[SFAOrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[SFAOrderId] [int] NOT NULL,
	[ItemNumber] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[OriginalCustomerPrice] [decimal](20, 5) NOT NULL,
	[CustomerPrice] [decimal](20, 5) NOT NULL,
	[OverrideCost] [decimal](20, 5) NULL,
	[OverrideSource] [nvarchar](50) NULL,
	[OverrideDate] [datetime] NULL,
	[PriceSource] [nvarchar](2) NOT NULL,
	[StandardCost] [decimal](20, 5) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UnitOfMeasure] [nvarchar](4) NULL,
	[VendorNumber] [decimal](15, 0) NOT NULL,
	[ProductCategoryCode] [nvarchar](4) NULL,
	[LineNumber] [int] NOT NULL,
	[ShipDate] [datetime] NOT NULL,
	[TermsPrice] [decimal](20, 5) NOT NULL,
	[IsCustomItem] [bit] NOT NULL,
	[ItemName] [nvarchar](255) NULL,
	[PromisedDate] [date] NULL,
	[IsLocked] [bit] NOT NULL,
	[NoParcel] [bit] NOT NULL,
	[Description2] [nvarchar](255) NULL,
	[Description1] [nvarchar](255) NULL,
	[pcat] [nvarchar](10) NULL,
	[ApprovedPrice] [decimal](20, 5) NULL,
	[QtyShipped] [int] NULL,
	[QtyBackorder] [int] NULL,
 CONSTRAINT [PK_SFAOrderItem] PRIMARY KEY CLUSTERED 
(
	[SFAOrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SFAOrderNote]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SFAOrderNote](
	[SFAOrderNoteId] [int] IDENTITY(1,1) NOT NULL,
	[SFAOrderId] [int] NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastEditDate] [datetime] NOT NULL,
	[PrintAck] [bit] NOT NULL,
	[PrintPickTicket] [bit] NOT NULL,
	[PrintInvoice] [bit] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[PageNo] [int] NOT NULL,
	[PrintPO] [bit] NOT NULL,
 CONSTRAINT [PK_SFAOrderNote] PRIMARY KEY CLUSTERED 
(
	[SFAOrderNoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Term]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Term](
	[TermCode] [nvarchar](4) NOT NULL,
	[Description] [nvarchar](25) NULL,
	[Display] [bit] NULL,
	[StartMonth] [int] NULL,
	[StartYear] [int] NULL,
	[EndMonth] [int] NULL,
	[EndYear] [int] NULL,
	[AddOnMargin] [decimal](17, 8) NULL,
	[MonthlyReduction] [decimal](17, 8) NULL,
	[Warehouse] [bit] NULL,
	[AllVendors] [bit] NULL,
 CONSTRAINT [PK_Term_1] PRIMARY KEY CLUSTERED 
(
	[TermCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TermType]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TermType](
	[TermTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TermType] PRIMARY KEY CLUSTERED 
(
	[TermTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TermVendor]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TermVendor](
	[TermVendorId] [int] IDENTITY(1,1) NOT NULL,
	[TermCode] [nvarchar](4) NOT NULL,
	[VendorNumber] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_TermVendor] PRIMARY KEY CLUSTERED 
(
	[TermVendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitOfMeasure]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitOfMeasure](
	[UnitOfMeasureId] [int] IDENTITY(1,1) NOT NULL,
	[UnitOfMeasure] [nvarchar](20) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_UnitOfMeasure] PRIMARY KEY CLUSTERED 
(
	[UnitOfMeasureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSetting]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSetting](
	[UserSettingId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyUserId] [int] NOT NULL,
	[SettingKey] [nvarchar](200) NOT NULL,
	[SettingValue] [nvarchar](max) NULL,
	[SmallScreen] [bit] NOT NULL,
 CONSTRAINT [PK_UserSetting] PRIMARY KEY CLUSTERED 
(
	[UserSettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Customer]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[Customer]
AS

SELECT 
    c.name as Name,
    c.custno as Number, 
    c.fpcustno as FPCustomerNumber,
    cast(c.custno as nvarchar) as NumberString, 
    s.codeval as Carrier,
    s.descrip as CarrierDescription,
    c.whse as WarehouseCode,
    bwn.whse as BackupWarehouseCode,
    w.name as WarehouseName,
	bwn.name AS BackupWarehouseName,
    sm.name as HardGoodsRep,
    smlg.name as LawnGardenRep,
    smp.name as PlantRep,
    smmc.name as CarrRep,
    sm.slsrep as HardGoodsRepCode,
    smlg.slsrep as LawnGardenRepCode,
    smp.slsrep as PlantRepCode,
    smmc.slsrep as CarrRepCode,
    c.shipto as DefaultShipTo,
	ss.termstype as DefaultShipToTermCode,
    cs.AvatarPath, 
    case 
		when c.credlim = 1 then null 
		else c.credlim 
			 - (c.periodbal##1 + c.periodbal##2  + c.periodbal##3 + c.periodbal##4 + c.periodbal##5 + c.futinvbal) - c.misccrbal - c.uncashbal - c.ordbal -c.servchgbal 
	end as AvailableCredit,
    c.poreqfl as PORequired,
    c.termstype as DefaultTermCode,
    cr.CreditManager,
    cr.CreditLimit,
    cr.AGING_CURRENT as AgingCurrent,
    cr.AGING_1_30 as Aging1_30,
    cr.AGING_31_60 as Aging31_60,
    cr.AGING_61_90 as Aging61_90,
    cr.AGING_OVER_90 as AgingOver90,
    cr.LAST_PAYMENT_DATE as LastPaymentDate,
    cr.AVERAGE_DAYS_TO_PAY as AverageDaysToPay,
    cr.PAST_DUE_DAYS AS PastDueDays,
	cr.FUTURE_DUE AS FutureDue,
	cr.SERVICE_CHARGES AS ServiceCharges,
	cr.MISC_CREDITS AS MiscCredits,
	cr.UNAPPLIED_CASH AS UnappliedCash,
	c.city,
	c.state,
	c.selltype AS SalesOrderStatus,
	c.email,
	c.phoneno AS CustomerPhoneNumber,
	c.custtype as CustomerType
FROM          
    bfgsxe..arsc c (NOLOCK) 
    inner join bfgsxe..sasta s (nolock) on s.cono = c.cono and s.codeval = c.shipviaty and s.codeiden = 's'
    left join SFA..CustomerSetting cs (nolock) on cast(c.custno as nvarchar(200)) = cs.number
    left join bfgsxe..smsn sm (nolock) on sm.slsrep = c.slsrepout and sm.cono = c.cono
    left join bfgsxe..smsn smlg (nolock) on smlg.slsrep = c.user1 and smlg.cono = c.cono
    left join bfgsxe..smsn smp (nolock) on smp.slsrep = c.user2 and smp.cono = c.cono
    left join bfgsxe..smsn smmc (nolock) on smmc.slsrep = c.user5 and smmc.cono = c.cono
    left join bfgsxe..icsd w (nolock) on w.whse = c.whse and w.cono = c.cono
	left join bfgsxe..icsd bwn (nolock) on w.user1 = bwn.whse and bwn.cono = c.cono
    left join (select distinct
                    u.user_name as CreditManager, 
                    case when c.credlim = 1 then null else c.credlim end as CreditLimit,
                    c.periodbal##1 AS [AGING_CURRENT], 
                    c.periodbal##2 AS [AGING_1_30], 
                    c.periodbal##3 AS [AGING_31_60], 
                    c.periodbal##4 AS [AGING_61_90], 
                    c.periodbal##5 AS [AGING_OVER_90], 
                    CAST (c.lastpaydt AS datetime) AS [LAST_PAYMENT_DATE], 
                    c.avgpaydays AS [AVERAGE_DAYS_TO_PAY], 
					c.futinvbal AS [FUTURE_DUE],
					c.servchgbal AS [SERVICE_CHARGES],
					c.misccrbal AS [MISC_CREDITS], 
					c.uncashbal AS [UNAPPLIED_CASH], 
                    case when c.credlim = 1 then null else c.credlim - c.ordbal end AS [AVAILABLE_CREDIT],
                    ISNULL(DATEDIFF(dayofyear, c.pastduedt, GETDATE()), 0) AS [PAST_DUE_DAYS]
                    , c.custno
                    , c.cono
                from 
                    BFGSXE..arsc c (nolock) inner join
                    BFGSXE..pv_user u (nolock) on c.creditmgr = u.oper2) cr
            on cr.cono = c.cono AND cr.custno = c.custno
	 left join bfgsxe..arss ss (nolock) on ss.cono = 1 and ss.statustype = 1 and ss.custno = c.custno and ss.shipto = c.shipto
WHERE 
    c.cono = 1 and c.statustype = 1 
GO
/****** Object:  View [dbo].[Activity]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














CREATE VIEW [dbo].[Activity]
AS
SELECT 
    act.ActivityId,
    act.ActivityTypeId,
    typ.ActivityType,
    cus.[Name] AS CustomerName,
    act.CustomerNumber AS CustomerNumber,
    act.Title,
    act.Content,
    act.Attendees,
    act.InteractionDate,
    act.[Location],
    act.FollowUpDate,
    act.DueDate,
    act.AssignedTo,
    assignedUser.Username AS AssignedToUsername,
    typ.IsInteraction,
    act.IsComplete,
    act.IsPinned,
    act.CreatedDate,
    act.CreatedByCompanyUserId,
    cu.Username AS CreatedByUsername,
    act.ShipToNumber,
    act.CallDirection,
	act.DidRespond,
	act.SFAOrderId,
	sfa.OrderNumber,
	sfa.OrderSuffix,
	sfa.CustomerPO AS PONumber,
	ISNULL(att.TotalAttachments, 0) AS TotalAttachments
FROM  
    CRMActivity act (nolock)
INNER JOIN 
    CRMActivityType typ (nolock) ON act.ActivityTypeId = typ.ActivityTypeId
INNER JOIN 
    BFGUsers..CompanyUser cu (nolock) ON cu.CompanyUserId = act.CreatedByCompanyUserId
LEFT JOIN 
    Customer cus (nolock) ON act.CustomerNumber = cus.Number
LEFT JOIN 
    BFGUsers..CompanyUser assignedUser (nolock) ON assignedUser.CompanyUserId = act.AssignedTo
LEFT JOIN
	SFA..SFAOrder sfa (nolock) ON sfa.SFAOrderId = act.SFAOrderId
LEFT JOIN 
    (SELECT COUNT(ActivityId) TotalAttachments,
	        ActivityId
	 FROM   CRMAttachment (nolock)
	 GROUP  BY ActivityId) att ON act.ActivityId = att.ActivityId 
GO
/****** Object:  View [dbo].[CustomerShowAttendance]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[CustomerShowAttendance]
AS

	SELECT CAST(arsc.custno AS varchar) AS CustomerNumber
	       , nam.[name] AS CustomerName
		   , arsc.slsrepout AS SalesRepId
		   , arsc.user1 As LawnAndGardenSalesRepId
		   , arsc.user2 As PlantSalesRepId
		   , arsc.user5 as MCSalesRepId
		   , coalesce(s.ParentShowId, s.ShowId) as ShowId
		   , ISNULL(COUNT(sra.ShowRegistrationAttendeeId), 0) AS NumberOfAttendees
		   , ISNULL(SUM(f.FinishedOrderTotal), 0) AS FinishedOrderTotal
		   , ISNULL(SUM(uf.UnFinishedOrderTotal), 0) AS UnFinishedOrderTotal
	FROM   
		ShowSystem.dbo.Show AS s WITH(NOLOCK)
		INNER JOIN (SELECT p.ShowId, so.CustomerNumber, SUM(soi.Quantity * soi.Price) AS FinishedOrderTotal 
					  FROM    ShowSystem.dbo.ShowOrderItem AS soi WITH(NOLOCK)
							  INNER JOIN  ShowSystem.dbo.ShowOrder AS so WITH(NOLOCK)
									  ON  soi.ShowOrderId = so.ShowOrderId
							  INNER JOIN  ShowSystem.dbo.Program AS p WITH(NOLOCK)
									  ON  so.ProgramId = p.ProgramId
										  AND so.FinishDate iS NOT NULL
										  AND so.Deleted = 0
										  AND p.OrderPeriodStart <= GetDate()
										  AND p.OrderPeriodEnd >= GetDate()
					  GROUP  BY so.CustomerNumber
								 , p.ShowId) AS f
				   ON s.ShowId = f.ShowId
					  AND (s.ShowId = f.ShowId or s.ParentShowId = f.ShowId)
		   LEFT JOIN ShowSystem.dbo.ShowRegistration AS sr WITH(NOLOCK)
				   ON s.ShowId = sr.ShowId and sr.CustomerNumber = f.CustomerNumber
		   LEFT JOIN ShowSystem.dbo.ShowRegistrationAttendee AS sra WITH(NOLOCK)
				   ON sr.ShowRegistrationId = sra.ShowRegistrationId 
		   INNER JOIN (SELECT DISTINCT custno, slsrepout, arsc.user1, arsc.user2, arsc.user5
					  FROM   BFGSXE.dbo.arsc WITH(NOLOCK) where cono = 1) AS arsc 
				   ON f.CustomerNumber = arsc.custno  
		   INNER JOIN SFA.dbo.Customer nam WITH(NOLOCK)
		           ON f.CustomerNumber = CAST(nam.Number AS varchar)
		   LEFT  JOIN (SELECT p.ShowId, so.CustomerNumber, SUM(soi.Quantity * soi.Price) AS UnFinishedOrderTotal
					  FROM   ShowSystem.dbo.ShowOrderItem AS soi WITH(NOLOCK)
							 INNER JOIN  ShowSystem.dbo.ShowOrder AS so WITH(NOLOCK)
									 ON  soi.ShowOrderId = so.ShowOrderId
							 INNER JOIN  ShowSystem.dbo.Program AS p WITH(NOLOCK)
									 ON  so.ProgramId = p.ProgramId 
										 AND so.FinishDate iS NULL
										 AND so.Deleted = 0
										 AND p.OrderPeriodStart <= GetDate()
										 AND p.OrderPeriodEnd >= GetDate()
					  GROUP  BY so.CustomerNumber
								, p.ShowId) AS uf
				   ON f.CustomerNumber = uf.CustomerNumber
					 AND (s.ShowId = uf.ShowId or s.ParentShowId = uf.ShowId)
	GROUP  BY arsc.custno
	       , nam.[name]
		   , arsc.slsrepout
		   , arsc.user1
		   , arsc.user2
		   , arsc.user5
		   , s.ShowId
		   , s.ParentShowId
GO
/****** Object:  View [dbo].[Carrier]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[Carrier]
AS

SELECT        
	sxc.codeval as CarrierCode,
	sxc.descrip AS Description, 
	LEFT(sxc.schedwd, 10) AS [DayOfWeek],
	TrackingUrl
FROM           
	bfgsxe..sasta AS sxc (NOLOCK) inner join
	bfgsxe..CarrierTracking ct (nolock) on sxc.codeval = ct.CarrierCode
WHERE        (sxc.cono = 1) AND (sxc.codeiden = 'S')

GO
/****** Object:  View [dbo].[Contact]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE VIEW [dbo].[Contact] AS

SELECT c.contactid AS ContactId
	   , CAST(cr.primarykey AS decimal) AS CustomerNumber
       , ISNULL(em.emailaddr, '') AS Email
	   , ISNULL(c.firstnm, '') AS FirstName
	   , ISNULL(c.lastnm, '') AS LastName
	   , ISNULL(c.cotitle, '') AS Title
	   , ISNULL(ph.phoneno, '') AS PhoneNumber
	   , ISNULL(fx.faxphoneno, '') AS FaxNumber
	   , ISNULL(ad.addr##1, '') AS Address1
	   , ISNULL(ad.addr##2, '') AS Address2
	   , ISNULL(ad.addr3, '') AS Address3
	   , ISNULL(ad.city, '') AS City
	   , ISNULL(ad.[state], '') AS [State]
	   , ISNULL(ad.zipcd, '') AS Zipcode
	   , c.pro2modified AS LastUpdate
FROM   BFGSXE..contacts_roles cr (nolock)
       INNER JOIN BFGSXE..contacts c (nolock)
	           ON cr.contactid = c.contactid
				  AND cr.cono = c.cono
				  AND (cr.roletype = 'arsc' OR cr.roletype = 'arss')
       LEFT  JOIN BFGSXE..contacts_methods em (nolock)
	           ON cr.cono = em.cono
			      AND cr.contactid = em.contactid
			      AND em.methodtype = 'em'
	   LEFT  JOIN BFGSXE..contacts_methods ph (nolock)
	           ON cr.cono = ph.cono
			      AND cr.contactid = ph.contactid
				  AND ph.methodtype = 'ph'
	   LEFT  JOIN BFGSXE..contacts_methods fx (nolock)
	           ON cr.cono = fx.cono
			      AND cr.contactid = fx.contactid
				  AND fx.methodtype = 'fx'
	   LEFT  JOIN BFGSXE..contacts_methods ad (nolock)
	           ON cr.cono = ad.cono
			      AND cr.contactid = ad.contactid
				  AND ad.methodtype = 'ad'
where c.cono = 1 
GO
/****** Object:  View [dbo].[CustomerCart]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CustomerCart]
AS

	SELECT  cast(arsc.custno as nvarchar) AS CustomerNumber
		   , arsc.name AS CustomerName
		   , arsc.slsrepout AS SalesRepId
		   , arsc.user1 As LawnAndGardenSalesRepId
		   , arsc.user2 As PlantSalesRepId
		   , arsc.user5 As MCSalesRepId
		   , isnull(shp.UserCount, 0) AS UserCount
		   , isnull(shp.CartTotal, 0) AS TotalInCart
		   , arsc.statecd as State
		   , arsc.city as City
	FROM  
		   BFGSXE.dbo.arsc arsc (nolock)
		   LEFT JOIN (SELECT sc.CustomerNumber, COUNT(DISTINCT sc.ShoppingCartId) AS UserCount, SUM(scl.Price * scl.Quantity) AS CartTotal
					   FROM   EBusiness.dbo.ShoppingCart sc WITH(NOLOCK)
							  INNER JOIN EBusiness.dbo.ShoppingCartLineItem scl (nolock)
								      ON sc.ShoppingCartId = scl.ShoppingCartId
					   WHERE sc.CheckoutDate IS NULL
					   GROUP  BY sc.CustomerNumber) shp
				   ON  shp.CustomerNumber = cast(arsc.custno as nvarchar)
	WHERE arsc.cono = 1
GO
/****** Object:  View [dbo].[CustomerCartDetail]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[CustomerCartDetail]
AS

	SELECT sc.ShoppingCartId
	       , sc.CustomerNumber
	       , sc.CompanyUserId
		   , cu.Username
	       , ISNULL(SUM(scl.Quantity), 0) AS Quantity
	       , ISNULL(SUM(scl.Price * scl.Quantity), 0) AS CartTotal
	FROM   EBusiness.dbo.ShoppingCart sc WITH(NOLOCK)
	       INNER JOIN BFGUsers..CompanyUser cu WITH(NOLOCK)
		           ON sc.CompanyUserId = cu.CompanyUserId
		   INNER JOIN EBusiness.dbo.ShoppingCartLineItem scl WITH(NOLOCK)
				   ON sc.ShoppingCartId = scl.ShoppingCartId
	WHERE  sc.CheckoutDate IS NULL 
	GROUP  BY sc.CompanyUserId, sc.ShoppingCartId, sc.CustomerNumber, cu.Username

GO
/****** Object:  View [dbo].[ItemActivity]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE  VIEW [dbo].[ItemActivity]
AS

SELECT 
	pl.prrowid + 'V' as Id, pl.shipprod as ItemNumber, wi.whse as WarehouseCode, 'Vendor' as SourceOrDestination, ph.duedt as DueDate,
	case when pl.unitconv = 0 then pl.stkqtyord else pl.stkqtyord / pl.unitconv end as QuantityOrdered, ph.pono as DocNumber, ph.posuf as DocSuffix, 'Vendor PO' as Type
FROM 
	bfgsxe..POEL pl WITH (NOLOCK) 
	INNER JOIN bfgsxe..poeh ph WITH (NOLOCK) ON pl.cono=ph.cono and pl.pono=ph.pono and pl.posuf=ph.posuf and pl.cono = 1
	INNER JOIN bfgsxe..icsw wi (nolock) on pl.whse = wi.whse and pl.shipprod = wi.prod 
WHERE 
	( ph.stagecd in (2,3,4) AND ph.transtype = 'po')
GROUP BY
	pl.prrowid, pl.shipprod, wi.whse, ph.duedt, pl.stkqtyord, ph.pono, ph.posuf, pl.unitconv

UNION 

SELECT
	wtel.prrowid + 'I' as Id, i.prod as ItemNumber, wtel.shiptowhse as WarehouseCode, wtel.shipfmwhse as SourceOrDestination, wtel.duedt, 
	case when wteh.stagecd = 2 then wtel.qtyship else wtel.qtyord end, wtel.wtno as DocNumber, wtel.wtsuf, 'Whse Xfer IN' as Type
FROM
	bfgsxe..wteh (nolock) INNER JOIN
	bfgsxe..wtel (nolock) on wteh.wtno = wtel.wtno and wteh.wtsuf = wtel.wtsuf and wtel.cono = wteh.cono INNER JOIN
	bfgsxe..icsp i (nolock) on wtel.shipprod = i.prod
WHERE
	wtel.statustype = 'a' or wtel.statustype = 's' and wtel.stkqtyord > 0  AND wtel.cono = 1
	
UNION 

SELECT
	wtel.prrowid + 'O' as Id, i.prod as ItemNumber, wtel.shipfmwhse as WarehouseCode, wtel.shiptowhse as SourceOrDestination, wtel.duedt, 
	case when wteh.stagecd = 2 then -wtel.qtyship else -wtel.qtyord end, wtel.wtno as DocNumber, wtel.wtsuf, 'Whse Xfer OUT' as Type
FROM
	bfgsxe..wteh (nolock) INNER JOIN
	bfgsxe..wtel (nolock) on wteh.wtno = wtel.wtno and wteh.wtsuf = wtel.wtsuf and wtel.cono = wteh.cono INNER JOIN
	bfgsxe..icsp i (nolock) on wtel.shipprod = i.prod
WHERE
	wtel.statustype = 'a' or wtel.statustype = 's' and wtel.stkqtyord > 0 AND wtel.cono = 1

UNION

SELECT 
	oi.prrowid + 'SO' as ID, i.prod as ItemNumber, oi.whse as WarehouseCode, c.name as SourceOrDestination, oi.promisedt, 
	-(case when oi.bono = 0 then oi.qtyord else oi.qtyship end) / COALESCE(CASE WHEN uom.unitconv = 0 THEN 1 ELSE uom.unitconv END, 1) AS QuantityOrdered,
	oi.orderno, o.ordersuf as nvarchar, 'Order' as Type
FROM
	bfgsxe..icsp i (nolock) INNER JOIN 
	bfgsxe..oeel oi (nolock) ON i.prod = oi.shipprod and i.cono = oi.cono INNER JOIN
	bfgsxe..oeeh o (nolock) on oi.orderno = o.orderno and oi.ordersuf = o.ordersuf and i.cono = oi.cono INNER JOIN
	bfgsxe..arsc c (nolock) on c.custno = o.custno and c.cono = o.cono LEFT JOIN
	bfgsxe..icseu uom (nolock) on i.prod = uom.prod and (uom.units = i.unitsell) AND (oi.unit <> i.unitsell) and i.cono = uom.cono 
WHERE
	o.stagecd > 0 AND o.stagecd < 4 and oi.transtype = 'so' and case when oi.bono = 0 then oi.qtyord else oi.qtyship end > 0

GO
/****** Object:  View [dbo].[ItemAvailability]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[ItemAvailability]
AS

SELECT 
	a.ItemId, 
	i.ItemNumber,
	a.WarehouseCode,
	w.city as WarehouseCity,
	a.Quantity,
	dbo.GetStockStatus(a.StockStatus) as StockStatus,
	a.StockStatus as StockStatusCode,
	a.NextReceiptDate,
	a.NextReceiptQty,
	a.QuantityNoBackOrder,
	a.DocumentNumber,
	a.QuantityBackordered
FROM
	EBusiness..Availability a (nolock)
	inner join bfgsxe..icsd w (nolock) on a.WarehouseCode = w.whse and w.cono = 1 and w.whse like '1%'
	inner join PIM..item i (nolock) on i.itemid = a.ItemId
GO
/****** Object:  View [dbo].[ItemAvailabilitySxe]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[ItemAvailabilitySxe]
AS

SELECT 
	iw.prod as ItemNumber,
	iw.whse as WarehouseCode,
	w.city as WarehouseCity,
	CAST((iw.qtyonhand) / COALESCE(icseu.unitconv, 1) as int) as QuantityOnHand,
	dbo.GetStockStatus(iw.statustype) as StockStatus,
	iw.statustype as StockStatusCode,
	CAST((iw.qtyreservd) / COALESCE(icseu.unitconv, 1) as int) as QuantityReserved,
	CAST((iw.qtycommit) / COALESCE(icseu.unitconv, 1) as int) as QuantityCommitted,
    CASE 
        -- Priority 1: Check the Override table
        WHEN ovr.LeadTimeDays IS NOT NULL THEN ovr.LeadTimeDays
        -- Priority 2: Default to 21 if values are missing
        WHEN icsw.leadtmavg IS NULL OR icsw.leadtmavg = 0 OR icsw.leadtmavg = -1 THEN 21
        -- Priority 3: Add 7 days to the existing value
        ELSE icsw.leadtmavg + 7
    END as AvgLeadTimeDays
FROM
	bfgsxe..icsw iw (nolock)
	inner join bfgsxe..icsd w (nolock) on iw.whse = w.whse and iw.cono = w.cono
	inner join bfgsxe..icsp i (NOLOCK) on iw.prod = i.prod and w.cono = i.cono
	left join bfgsxe..icseu (NOLOCK) on iw.prod = icseu.prod AND w.cono = icseu.cono and icseu.units = i.unitsell
	left join bfgsxe..icsw (nolock) on icsw.prod = i.prod and icsw.cono = 1 and icsw.whse = w.whse
	LEFT JOIN PIM..ItemLeadTimeOverride ovr (NOLOCK) ON ovr.ItemNumber = iw.prod
where w.cono = 1 and w.whse like '1%' and w.salesfl = 1 and (w.region <> '' or w.whse = '1901' or w.whse = '1025')
GO
/****** Object:  View [dbo].[ItemHistory]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[ItemHistory]
AS

SELECT 
	cast(o.orderno as nvarchar) + '-' + right('00' + cast(o.ordersuf as nvarchar), 2) as FullOrderNumber,
	i.prod as ItemNumber, oi.proddesc as CustomItemDescription, oi.lineno_ as LineNumber,
	COALESCE(CASE WHEN uom.unitconv = 0 THEN 1 ELSE uom.unitconv END, 1) * (CASE WHEN o.transtype IN ('rm', 'vr') THEN -oi.price ELSE price END) as Price, 
	o.invoicedt as InvoiceDate, o.promisedt as PromisedDate,
	COALESCE(uom.units, oi.unit) AS UnitOfMeasure, CASE WHEN oi.statustype = 'c' THEN 0 ELSE oi.qtyship END / COALESCE(CASE WHEN uom.unitconv = 0 THEN 1 ELSE uom.unitconv END, 1) AS Quantity,
	o.custpo as CustomerPO, o.orderno as OrderNumber, o.ordersuf as OrderSuffix,
	o.custno as CustomerNumber
FROM
	bfgsxe..icsp i (nolock) INNER JOIN 
	bfgsxe..oeel oi (nolock) ON i.prod = oi.shipprod and i.cono = oi.cono INNER JOIN
	bfgsxe..oeeh o (nolock) on oi.orderno = o.orderno and oi.ordersuf = o.ordersuf and i.cono = oi.cono LEFT JOIN
	bfgsxe..icseu uom (nolock) on i.prod = uom.prod and (uom.units = i.unitsell) AND (oi.unit <> i.unitsell) and i.cono = uom.cono 
WHERE
	o.stagecd > 0 and o.invoicedt is not null
GO
/****** Object:  View [dbo].[ItemUnits]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ItemUnits]
AS

SELECT 
	i.prod as ItemNumber,
	uom.units as UnitOfMeasure,
	uom.unitconv as ConversionRate,
	uom.descrip as Description
FROM
	bfgsxe..icsp i (nolock) INNER JOIN 
	bfgsxe..icseu uom (nolock) on i.prod = uom.prod and i.cono = uom.cono
GO
/****** Object:  View [dbo].[LostBusinessReason]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[LostBusinessReason]
AS

SELECT codeval AS Code
       ,descrip AS [Description]
FROM   [BFGSXE].[dbo].[vw_sx_sasta] WITH (NOLOCK)
WHERE  codeiden='e'

GO
/****** Object:  View [dbo].[OnOrderItem]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[OnOrderItem]
AS

SELECT DISTINCT
	cast(o.orderno as nvarchar) + '-' + right('00' + cast(o.ordersuf as nvarchar), 2) as FullOrderNumber,
	i.prod as ItemNumber, oi.proddesc as CustomItemDescription, oi.lineno_ as LineNumber,
	COALESCE(CASE WHEN uom.unitconv = 0 THEN 1 ELSE uom.unitconv END, 1) * (CASE WHEN o.transtype IN ('rm', 'vr') THEN -oi.price ELSE price END) as Price, 
	o.enterdt AS OrderDate, o.promisedt as PromisedDate,
	COALESCE(uom.units, oi.unit) AS UnitOfMeasure,  oi.qtyord / COALESCE(CASE WHEN uom.unitconv = 0 THEN 1 ELSE uom.unitconv END, 1) AS Quantity,
	CASE WHEN oi.statustype = 'c' THEN 0 ELSE oi.qtyship / COALESCE(CASE WHEN uom.unitconv = 0 THEN 1 ELSE uom.unitconv END, 1) END AS QuantityAvailable,
	o.custpo as CustomerPO, o.orderno as OrderNumber, o.ordersuf as OrderSuffix, oi.whse as Warehouse, o.custno as CustomerNumber, c.name as CustomerName
FROM
	bfgsxe..icsp i (nolock) INNER JOIN 
	bfgsxe..oeel oi (nolock) ON i.prod = oi.shipprod and i.cono = oi.cono INNER JOIN
	bfgsxe..oeeh o (nolock) on oi.orderno = o.orderno and oi.ordersuf = o.ordersuf and i.cono = oi.cono INNER JOIN
	bfgsxe..arsc c (nolock) on c.custno = o.custno and c.cono = o.cono LEFT JOIN
	bfgsxe..icseu uom (nolock) on i.prod = uom.prod and (uom.units = i.unitsell) AND (oi.unit <> i.unitsell) and i.cono = uom.cono 
WHERE
	o.stagecd > 0 AND o.stagecd < 3

GO
/****** Object:  View [dbo].[OpenOrder]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE VIEW [dbo].[OpenOrder]
AS


SELECT 
	o.orderno as OrderNumber,
	o.ordersuf as OrderSuffix,
	cast(o.orderno as nvarchar) + '-' + right('00' + cast(o.ordersuf as nvarchar), 2) as FullOrderNumber,
	cast(o.orderno as bigint) * 100 + cast(o.ordersuf as bigint) as SortableOrderNumber,
	o.custno as CustomerNumber,
	arsc.slsrepout AS SalesRepId,
	arsc.user1 As LawnAndGardenSalesRepId,
	arsc.user2 As PlantSalesRepId,
	o.transtype as TransactionTypeCode,
	dbo.GetTransactionType(o.transtype, o.user6, w.whse) as TransactionType,
	o.custpo as CustomerPO,
	o.refer as Reference,
	s.descrip as Carrier,
	s.codeval as CarrierCode,
	o.reqshipdt as RequiredShipDate,
	o.enterdt as CreateDate,
	o.promisedt as PromisedDate,
	o.invoicedt as InvoicedDate,
	o.shipdt as ShippedDate,
		case when o.transtype = 'rm' then -o.totlineord else o.totlineord end as Total,
	case when o.transtype = 'rm' then -o.totprice else o.totprice end as TotalShipped,
	case when o.invoicedt is null then 0 else 
		case when o.transtype = 'rm' then -o.totinvamt else o.totinvamt end
	end as TotalInvoiced,
	o.approvty as ApproveType,
	dbo.GetHoldReason(o.approvty) as HoldReason,
	o.orderdisp as OrderDisposition,
	o.stagecd as StageCode,
	dbo.GetOrderStage(o.stagecd, o.transtype) as Stage,
	o.shipto as ShipToNumber,
	o.shiptocity as ShipToCity,
	o.shiptost as ShipToState,
	o.shiptozip as ShipToZip,
	o.shiptoaddr##1 as ShipToAddress1,
	o.shiptoaddr##2 as ShipToAddress2,
	o.shiptoaddr3 as ShipToPhone,
	o.termstype as TermsType,
	o.placedby as OrderedBy,
	o.bofl as AllowBackorder,
	st.descrip as TermsDescription,
	ISNULL(o.shiptonm, ss.name) as ShipToName,
	replace(w.name, 'bfg supply ', '') as WarehouseName,
	w.whse as WarehouseCode,
	isnull(p.trackerno, o.pkgid) as TrackingNumber,
	case when o.approvty = 'y' then 'N' else 'Y' end as OnHold,
	case when o.orderdisp = 's' then 'Y' else 'N' end as ShipComplete,
	REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(( 
		SELECT DISTINCT
			noteln##1 + ' ' + noteln##2 + ' ' + noteln##3 + ' ' + noteln##4 + ' ' + noteln##5 + ' ' + 
			noteln##6 + ' ' + noteln##7 + ' ' + noteln##8 + ' ' + noteln##9 + ' ' + noteln##10 + ' ' + noteln##11 + ' ' + 
			noteln##12 + ' ' + noteln##13 + ' ' + noteln##14 + ' ' + noteln##15 + ' ' + noteln##16 + ' ' from bfgsxe..notes (nolock)
		WHERE cono = 1 AND primarykey = cast(o.orderno as varchar(50)) AND notestype = 'O' for xml path('')
	), '&#x0D;', char(13)), '&amp;', '&'), '&gt;', '>'), '&#x20;', ''), '&lt;', '<') AS NOTE,
	c.TrackingUrl,
	o.user3 AS VendorOrderNo,
	case when o.shiptoaddr##1 + '' + o.shiptoaddr##2 = ss.addr##1 + '' + ss.addr##2 then CAST(0 as bit) else CAST(1 as bit) end as IsCustomAddress,
	case when o.openinit <> '' then CAST(1 as bit) else CAST(0 as bit) end as InUse,
	CAST(0 as decimal) as TotalFreight,
	o.taxamt##1 + o.taxamt##2 + o.taxamt##3 + o.taxamt##4 as TotalTax,
	arsc.name as CustomerName,
	o.sourcepros as Sourcepros
FROM
	bfgsxe..oeeh o (nolock)
	left join bfgsxe..sasta s (nolock) on s.cono = o.cono and s.codeval = o.shipviaty and s.codeiden = 's'
	left join bfgsxe..sasta st (nolock) on st.cono = o.cono and st.codeval = o.termstype and st.codeiden = 't'
	left join bfgsxe..arss ss (nolock) on ss.cono = o.cono and ss.custno = o.custno and ss.shipto = o.shipto
	left join bfgsxe..icsd w (nolock) on w.whse = o.whse and w.cono = o.cono
	left JOIN BFGSXE.dbo.arsc (nolock) on o.custno = arsc.custno  and arsc.cono = o.cono
	left join
		(
			SELECT
				orderno, ordersuf, SUM(freightamt) as freightamt,
					STUFF((SELECT ', ' + trackerno
					FROM bfgsxe..oeehp (NOLOCK)
					WHERE (orderno = p.orderno and ordersuf = p.ordersuf)
					FOR XML PATH ('')) , 1, 2, '') AS trackerno
			FROM bfgsxe..oeehp p (NOLOCK)
			WHERE cono = 1
			GROUP BY orderno, ordersuf
		) p on o.orderno = p.orderno and o.ordersuf = p.ordersuf
	left join bfgsxe..SA_CARRIER c (NOLOCK) on c.CARRIER = o.shipviaty
WHERE
	o.cono = 1 and o.stagecd <> 9 and o.transtype <> 'ra'
	--and o.createdt > dateadd(month, -24, getdate())
GO
/****** Object:  View [dbo].[OpenOrderItem]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE VIEW [dbo].[OpenOrderItem]
AS


SELECT 
	l.orderno as OrderNumber,
	l.ordersuf as OrderSuffix,
	l.lineno_ as LineNumber,
	l.shipprod as ItemNumber,
    coalesce(i.ItemName, l.proddesc + ' ' + l.proddesc2) as Description,
	l.unit as UnitOfMeasure,
	CASE WHEN l.transtype = 'rm' then -l.qtyord else l.qtyord end as Quantity,
	CASE WHEN l.statustype = 'c' THEN 0 ELSE 
		CASE WHEN l.transtype = 'rm' then -l.qtyship else l.qtyship end
	END QuantityShipped,
	CASE WHEN l.bono > 0 THEN l.qtyord - l.qtyship ELSE 0 END as QuantityBackordered,
	CASE WHEN l.statustype = 'a' OR l.bono > 0 THEN 0 WHEN l.statustype = 'c' THEN l.qtyord ELSE l.qtyord - l.qtyship end as QuantityCancelled,
	CASE WHEN l.transtype = 'rm' then -l.price else l.price end as Price,
	CASE WHEN l.transtype = 'rm' then -l.price * l.qtyord else l.price * l.qtyord end as Total,
	l.transtype as Disposition,
	l.orderaltno DocNumber,
	l.vendno AS VendorNumber,
	l.prodcost as Cost,
	l.custno as CustomerNumber,
	l.promisedt AS PromisedDate,
	case when l.price = 0 then 0 else (l.price - l.prodcost) / l.price end as Margin,
	l.orderaltno as TiedOrderNumber,
	l.linealtno as TiedLineNumber,
	cast (case when i.ItemId is null then 1 else 0 end as bit) as IsCustomItem,
	l.prodcat as ProductCategoryCode,
	l.proddesc as Description1,
	l.proddesc2 as Description2
FROM
	bfgsxe..oeel l (nolock)
	left join PIM..Item i (nolock) on l.shipprod = i.ItemNumber
WHERE
	l.cono = 1 
GO
/****** Object:  View [dbo].[OpenOrderTwlStatus]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[OpenOrderTwlStatus]
AS


SELECT 
	o.orderno as OrderNumber,
	o.ordersuf as OrderSuffix,
	case when hs.sequence > 7 then 0 else hs.sequence end as TwlSequence,
	hs.name as TwlName
FROM
	bfgsxe..oeeh o (nolock)
	inner join bfgsxe..ordhdr wh (nolock) on 'o' + RIGHT(REPLICATE('0', 8) + CAST(o.orderno AS varchar(8)), 8) = wh.order_ and o.ordersuf = wh.order_suffix and o.cono = wh.co_num LEFT JOIN
	bfgsxe..ORDHDR_STATUS hs (nolock) on wh.order_status = hs.code
GO
/****** Object:  View [dbo].[OrderItemHistory]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[OrderItemHistory]
AS

select
  case
    when i.itemid is null then 0
    else i.itemid
  end as ItemId,
  i.ItemName as [Name],
  l.custno as CustomerNumber,
  max(h.transdt) as OrderDate,
  l.vendno as VendorNumber,
  v.VendorName as VendorName,
  l.shipprod as ItemNumber,
  uom.UnitOfMeasure,
  isnull(ach.ValueString, l.proddesc) as Description,
  sum(w.qtyonhand - w.qtycommit - w.qtybo) as QuantityAvailable,
  sum(l.qtyship) as QuantityOrdered,
  (w.qtyonhand - w.qtycommit - w.qtybo) as WarehouseAvailable,
  w.whse as WarehouseCode,
   sd.StockDefinition,
  (select 0) as Score,
  i.active as Active,
  case
    when i.itemid is null then 1
    else 0
  end as IsCustomItem,
  CASE WHEN sxi.sellmult = 0 THEN 1 ELSE sxi.sellmult END AS [SellMultiple],
  (SELECT MAX(listprice) FROM bfgsxe..icsw (nolock) WHERE prod = sxi.prod AND cono = sxi.cono) AS [ListPrice],
  (SELECT MAX(stndcost) FROM bfgsxe..icsw (nolock) WHERE prod = sxi.prod AND cono = sxi.cono) AS [StandardCost]
from
  bfgsxe..oeeh h (nolock)
  inner join bfgsxe..oeel l (nolock) on h.custno = l.custno and h.orderno = l.orderno and h.ordersuf = l.ordersuf and h.cono = l.cono
  inner join bfgsxe..icsp sxi (NOLOCK) on sxi.prod = l.shipprod and sxi.cono = h.cono
  left join PIM..Item i (nolock) on l.shipprod = i.ItemNumber
  left join PIM..UnitOfMeasure uom (nolock) on uom.UnitOfMeasureId = i.UnitOfMeasureId
  left join PIM..ItemAttribute ach (nolock) on ach.itemid = i.itemid and ach.AttributeId = 250
  left join bfgsxe..icsw w (nolock) on l.shipprod = w.prod and l.cono = w.cono
  left join PIM..StockDesignation sd (nolock) on sd.StockDesignationId = i.StockDesignationId
  left join PIM..Vendor v (nolock) on v.VendorNumber = l.vendno
where
  h.invoicedt is not null
  and h.transtype <> 'qu'
  and i.Active = 1
  --and l.custno = '731422'
group by
  ach.ValueString,
  l.custno,
  l.vendno,
  v.VendorName,
  l.proddesc,
  l.proddesc2,
  w.whse,
  w.qtyonhand,
  w.qtycommit,
  w.qtybo,
  sd.StockDefinition,
  l.shipprod,
  i.itemid,
  i.active,
  i.ItemName,
  uom.UnitOfMeasure,
  sxi.sellmult,
  sxi.prod,
  sxi.cono

GO
/****** Object:  View [dbo].[OrderItemMargin]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[OrderItemMargin]
AS

SELECT
	h.enterdt as CreateDate,
	l.shipprod as ItemNumber,
	h.custno as CustomerNumber,
	l.price as Price,
	l.prodcost as Cost,
	CASE WHEN (l.price = 0) THEN 0 ELSE ((l.price - l.prodcost) / (l.price)) END AS Margin
FROM
	bfgsxe..oeeh h (nolock)
	inner join bfgsxe..oeel l (nolock) on h.orderno = l.orderno and h.cono = l.cono
GO
/****** Object:  View [dbo].[ShipTo]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[ShipTo]
AS

SELECT 
	ss.custno as CustomerNumber,
	ss.shipto as ShipToNumber,
	ss.name as ShipToName,
	s.codeval as Carrier,
	ss.whse as WarehouseCode,
	sxw_primary.Name as WarehouseName,
    CASE 
        WHEN ss.user6 = 0.0 THEN '' 
        ELSE CAST(FLOOR(ss.user6) AS VARCHAR)
    END AS BackupWarehouseCode,
	sxw_backup.Name as BackupWarehouseName,
	ss.addr##1 as Address1,
	ss.addr##2 as Address2,
	ss.city as City,
	ss.state as State,
	ss.zipcd as Zip,
	UPPER(smhg.[name]) as SalesRep,
	UPPER(smhg.[name]) as HardGoodsRep,
	UPPER(smlg.[name]) as LawnGardenRep,
	UPPER(smp.[name]) as PlantRep,
	ss.route as Route,
	ss.user4 as FreightCode,
	f.codeval##3 as MinOrderAmount,
	f.codeval##5 as UnderMinCharge,
	f.codeval##7 as OverMinCharge,
	ss.termstype as TermCode,
	ss.phoneno as CustomerPhoneNumber
FROM          
	bfgsxe..arss ss (NOLOCK) 
	inner join bfgsxe..sasta s (nolock) on s.cono = ss.cono and s.codeval = ss.shipviaty and s.codeiden = 's'
	left join bfgsxe..smsn smhg (nolock) on smhg.cono = s.cono and smhg.slsrep = ss.slsrepout
	left join bfgsxe..smsn smlg (nolock) on smlg.cono = s.cono and smlg.slsrep = ss.user1
	left join bfgsxe..smsn smp (nolock) on smp.cono = s.cono and smp.slsrep = ss.user2
	left join bfgsxe..icsd (nolock) AS sxw_primary on sxw_primary.cono = ss.cono and sxw_primary.whse = ss.whse
	LEFT JOIN bfgsxe..icsd (NOLOCK) AS sxw_backup
		ON sxw_backup.cono = ss.cono
		AND sxw_backup.whse = CASE 
								WHEN ss.user6 = 0.0 THEN '' 
								ELSE CAST(FLOOR(ss.user6) AS VARCHAR)
							  END
    LEFT JOIN bfgsxe..sastaz f (nolock) 
		on ss.cono = f.cono and ss.user4 = f.primarykey and f.codeiden = 'custfrtchrg' and f.labelfl = 0
WHERE 
	ss.cono = 1 and ss.statustype = 1 and ss.shipto <> 'ots'
GO
/****** Object:  View [dbo].[ShowAttendee]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[ShowAttendee] AS

select a.ShowRegistrationAttendeeId, s.ShowName, s.ShowId, cast(r.CustomerNumber as nvarchar(50)) as CustomerNumber, a.FirstName, a.LastName, a.EmailAddress, a.CompanyUserId, a.ConfirmationNumber,
	(select count(*) from ShowSystem..ShowRegistrationAttendee a2 where a2.IsGuest = 1 and a2.ShowRegistrationId = r.ShowRegistrationId) as GuestCount,
	c.slsrepout as SalesRepId, c.user1 As LawnAndGardenSalesRepId, c.user2 As PlantSalesRepId, c.user5 As MCSalesRepId, c.name as CustomerName
from
	ShowSystem..ShowRegistration r (nolock)
	inner join ShowSystem..ShowRegistrationAttendee a (nolock) on r.ShowRegistrationId = a.ShowRegistrationId
	inner join ShowSystem..Show s (nolock) on s.ShowId = r.ShowId
	inner join bfgsxe..arsc c (nolock) on c.custno = r.CustomerNumber
where
	a.ConfirmationNumber is not null and isnull(a.IsGuest, 0) = 0 and s.Active = 1


GO
/****** Object:  View [dbo].[UnsubmittedOrder]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE VIEW [dbo].[UnsubmittedOrder]
AS

SELECT 
	o.SFAOrderId,
	o.CustomerNumber,
	o.OrderType,
	dbo.GetOrderType(o.OrderType) as OrderTypeDescription,
	o.CustomerPO,
	o.Reference,
	o.ShipViaType,
	o.RequiredShipDate,
	o.CreateDate,
	o.ApproveType,
	dbo.GetHoldReason(o.ApproveType) as HoldReason,
	ss.city as ShipToCity,
	ss.state as ShipToState,
	ss.zipcd as ShipToZip,
	ss.addr##1 as ShipToAddress1,
	ss.addr##2 as ShipToAddress2,
	o.termstype as TermsType,
	st.descrip as TermsDescription,
	ss.name as ShipToName,
	w.name as WarehouseName,
	w.whse as WarehouseCode,
	case when o.ApproveType = 'y' then 'N' else 'Y' end as OnHold,
	o.ShipComplete,
	s.descrip as Carrier,
	s.codeval as CarrierCode,
	arsc.slsrepout AS SalesRepId,
	arsc.user1 As LawnAndGardenSalesRepId,
	arsc.user2 As PlantSalesRepId,
	ISNULL((SELECT SUM(OI.CustomerPrice * OI.Quantity) FROM SFAOrderItem oi (nolock) WHERE oi.SFAOrderId = o.SFAOrderId), 0)  AS TOTAL,
	o.IsOpenOrderEdit,
	arsc.name as CustomerName,
	p.[Description] as ProgramDescription
FROM
	SFAOrder o
	left join bfgsxe..sasta s (nolock) on s.cono = 1 and s.codeval = o.Carrier and s.codeiden = 's'
	left join bfgsxe..sasta st (nolock) on st.cono = 1 and st.codeval = o.termstype and st.codeiden = 't'
	left join bfgsxe..arss ss (nolock) on ss.cono = 1 and ss.custno = o.CustomerNumber and ss.shipto = o.ShipToNumber
	left join bfgsxe..icsd w (nolock) on w.whse = o.WarehouseCode and w.cono = 1
	left JOIN BFGSXE.dbo.arsc (nolock) on o.CustomerNumber = arsc.custno and arsc.cono = w.cono  
	left join showsystem..Program p (nolock) on o.ProgramId = p.ProgramId
WHERE
    o.SubmitDate IS NULL
GO
/****** Object:  View [dbo].[Vendor]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vendor]
AS

SELECT 
	ISNULL(v.LookupName, v.VendorName) as Name,
	v.VendorNumber as Number, 
	cast(v.VendorNumber as nvarchar) as NumberString
FROM          
	PIM..Vendor v (nolock)
WHERE 
	v.Status = 'O'
GO
/****** Object:  View [dbo].[Warehouse]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[Warehouse]
AS

SELECT  
            sxw.whse AS Code ,
            sxw.addr##1 + ' ' + sxw.addr##2 AS Address ,
            CAST(sxw.phoneno AS NVARCHAR(32)) AS Phone ,
            CAST(sxw.faxphoneno AS NVARCHAR(32)) AS Fax ,
            sxw.City ,
            sxw.State ,
            LEFT(sxw.zipcd, 5) AS Zip ,
            CASE WHEN LEN(sxw.zipcd) = 10 THEN RIGHT(sxw.zipcd, 4)
                 ELSE NULL
            END AS Zip4 ,
            sxw.Name ,
			 --salesfl = "Available For Sales"
            CASE WHEN sxw.salesfl = 1 and (sxw.region <> '' or sxw.whse = '1901') THEN 1 ELSE 0 end as Active,
			CAST(null AS uniqueidentifier) as BackupWarehouseCode,
			sxw.region as region
    FROM    bfgsxe..icsd AS sxw (NOLOCK)
    WHERE   ( sxw.cono = 1 )
GO
ALTER TABLE [dbo].[Address] ADD  DEFAULT ('US') FOR [Country]
GO
ALTER TABLE [dbo].[CategoryMaxDiscount] ADD  DEFAULT ((0)) FOR [IsSegment]
GO
ALTER TABLE [dbo].[CHRobinsonLog] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CRMActivity] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CRMActivity] ADD  CONSTRAINT [DF_CRMActivity_IsComplete]  DEFAULT ((0)) FOR [IsComplete]
GO
ALTER TABLE [dbo].[CRMActivity] ADD  DEFAULT ((0)) FOR [IsPinned]
GO
ALTER TABLE [dbo].[CRMActivity] ADD  DEFAULT ((0)) FOR [DidRespond]
GO
ALTER TABLE [dbo].[CRMActivityType] ADD  DEFAULT ((0)) FOR [IsInteraction]
GO
ALTER TABLE [dbo].[CRMActivityType] ADD  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[CRMAttachment] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[SFAOrder] ADD  DEFAULT ((0)) FOR [AllowBackorder]
GO
ALTER TABLE [dbo].[SFAOrder] ADD  DEFAULT ((0)) FOR [PrintNote]
GO
ALTER TABLE [dbo].[SFAOrder] ADD  DEFAULT ((0)) FOR [Freight]
GO
ALTER TABLE [dbo].[SFAOrder] ADD  DEFAULT ((0)) FOR [QuoteLost]
GO
ALTER TABLE [dbo].[SFAOrder] ADD  DEFAULT ((0)) FOR [QuotePresented]
GO
ALTER TABLE [dbo].[SFAOrder] ADD  DEFAULT ('') FOR [Note]
GO
ALTER TABLE [dbo].[SFAOrder] ADD  DEFAULT ((0)) FOR [IsOpenOrderEdit]
GO
ALTER TABLE [dbo].[SFAOrder] ADD  DEFAULT ((0)) FOR [IsCustomAddress]
GO
ALTER TABLE [dbo].[SFAOrder] ADD  DEFAULT ((0)) FOR [IsShowOrder]
GO
ALTER TABLE [dbo].[SFAOrderItem] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[SFAOrderItem] ADD  CONSTRAINT [D_SFAOrderItem_NoParcel]  DEFAULT ((0)) FOR [NoParcel]
GO
ALTER TABLE [dbo].[SFAOrderNote] ADD  DEFAULT ((0)) FOR [PrintAck]
GO
ALTER TABLE [dbo].[SFAOrderNote] ADD  DEFAULT ((0)) FOR [PrintPickTicket]
GO
ALTER TABLE [dbo].[SFAOrderNote] ADD  DEFAULT ((0)) FOR [PrintInvoice]
GO
ALTER TABLE [dbo].[SFAOrderNote] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[SFAOrderNote] ADD  DEFAULT ((0)) FOR [PageNo]
GO
ALTER TABLE [dbo].[SFAOrderNote] ADD  DEFAULT ((0)) FOR [PrintPO]
GO
ALTER TABLE [dbo].[CRMActivity]  WITH CHECK ADD FOREIGN KEY([ActivityTypeId])
REFERENCES [dbo].[CRMActivityType] ([ActivityTypeId])
GO
ALTER TABLE [dbo].[CRMActivity]  WITH CHECK ADD FOREIGN KEY([ActivityTypeId])
REFERENCES [dbo].[CRMActivityType] ([ActivityTypeId])
GO
ALTER TABLE [dbo].[CRMActivity]  WITH CHECK ADD FOREIGN KEY([SFAOrderId])
REFERENCES [dbo].[SFAOrder] ([SFAOrderId])
GO
ALTER TABLE [dbo].[CRMActivityContact]  WITH CHECK ADD  CONSTRAINT [FK_CRMActivityContact_ActivityId] FOREIGN KEY([ActivityId])
REFERENCES [dbo].[CRMActivity] ([ActivityId])
GO
ALTER TABLE [dbo].[CRMActivityContact] CHECK CONSTRAINT [FK_CRMActivityContact_ActivityId]
GO
ALTER TABLE [dbo].[CRMActivityContact]  WITH CHECK ADD  CONSTRAINT [FK_CRMActivityContact_ContactId] FOREIGN KEY([ContactId])
REFERENCES [dbo].[CRMContact] ([ContactId])
GO
ALTER TABLE [dbo].[CRMActivityContact] CHECK CONSTRAINT [FK_CRMActivityContact_ContactId]
GO
ALTER TABLE [dbo].[CRMActivityProgram]  WITH CHECK ADD  CONSTRAINT [FK_CRMActivityProgram_ActivityId] FOREIGN KEY([ActivityId])
REFERENCES [dbo].[CRMActivity] ([ActivityId])
GO
ALTER TABLE [dbo].[CRMActivityProgram] CHECK CONSTRAINT [FK_CRMActivityProgram_ActivityId]
GO
ALTER TABLE [dbo].[CRMActivityProgram]  WITH CHECK ADD  CONSTRAINT [FK_CRMActivityProgram_ProgramId] FOREIGN KEY([ProgramId])
REFERENCES [dbo].[CRMProgram] ([ProgramId])
GO
ALTER TABLE [dbo].[CRMActivityProgram] CHECK CONSTRAINT [FK_CRMActivityProgram_ProgramId]
GO
ALTER TABLE [dbo].[CRMAttachment]  WITH CHECK ADD  CONSTRAINT [FK__CRMAttach__Activ__7755B73D] FOREIGN KEY([ActivityId])
REFERENCES [dbo].[CRMActivity] ([ActivityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CRMAttachment] CHECK CONSTRAINT [FK__CRMAttach__Activ__7755B73D]
GO
ALTER TABLE [dbo].[SFAOrder]  WITH CHECK ADD FOREIGN KEY([CustomShipToAddressId])
REFERENCES [dbo].[Address] ([Id])
GO
ALTER TABLE [dbo].[SFAOrderItem]  WITH CHECK ADD  CONSTRAINT [FK_SFAOrderItem_SFAOrder] FOREIGN KEY([SFAOrderId])
REFERENCES [dbo].[SFAOrder] ([SFAOrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SFAOrderItem] CHECK CONSTRAINT [FK_SFAOrderItem_SFAOrder]
GO
ALTER TABLE [dbo].[SFAOrderNote]  WITH CHECK ADD  CONSTRAINT [FK_SFAOrderNote_SFAOrder] FOREIGN KEY([SFAOrderId])
REFERENCES [dbo].[SFAOrder] ([SFAOrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SFAOrderNote] CHECK CONSTRAINT [FK_SFAOrderNote_SFAOrder]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD CHECK  (([Id]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[GetExcelPresentationExtraData]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetExcelPresentationExtraData]
    @sfaOrderId INT
AS
BEGIN
SELECT oi.itemnumber,
       w.stndcost                                            AS StandardCost,
       w.statustype                                          AS StockStatus,
       w.avgcost                                             AS AverageCost,
       w.replcost                                            AS ReplacementCost,
       w.addoncost                                           AS AddonCost,
       w.baseprice                                           AS BasePrice,
       w.qtyonhand                                           AS QtyOnHand,
       ( -Isnull(w.qtyreservd, 0) - Isnull(w.qtycommit, 0) ) AS QtyCommitted,
       w.qtyonorder                                          AS QtyOnOrder,
       Isnull(u.unitconv, 1)                                 AS ConversionRate,
       p65.codeval##1                                        AS Prop65,
       p65.codeval##2                                        AS Prop65Desc,
       (SELECT Sum(l.qtyship)
        FROM   bfgsxe..oeel l (nolock)
        WHERE  l.shipprod = w.prod
               AND l.cono = w.cono
               AND l.custno = o.customernumber
               AND l.invoicedt > Dateadd(year, -1, Getdate())) AS LastYearsSales,
       ic.prod                                               AS CustomerSku,
       pd.prcmult##1                                         AS Level1Percent,
       pd.prcmult##2                                         AS Level2Percent,
       pd.prcmult##3                                         AS Level3Percent,
       pd.prcmult##4                                         AS Level4Percent,
       pd.prcmult##5                                         AS Level5Percent,
	   pd.prcmult##6                                         AS Level6Percent,
       (SELECT TOP 1 
        CASE 
            WHEN pd2.prod IS NOT NULL THEN 1 ELSE 0 
		END
		 FROM bfgsxe..pdsc pd2 (nolock)
		 WHERE pd2.prod = oi.itemnumber
		   AND pd2.cono = 1
		   AND pd2.levelcd = 1
		   AND pd2.enddt >= Getdate()
		   AND pd2.custno = o.CustomerNumber) AS isContractProduct,
       (SELECT MAX(pd2.enddt)
        FROM   bfgsxe..pdsc pd2 (nolock)
        WHERE  pd2.prod = oi.itemnumber
               AND pd2.cono = 1
               AND pd2.levelcd = 1
               AND pd2.enddt >= Getdate()
               AND pd2.custno = o.CustomerNumber) AS ContractEndDate
FROM   sfaorder o (nolock)
       INNER JOIN sfaorderitem oi (nolock)
               ON o.sfaorderid = oi.sfaorderid
       LEFT JOIN bfgsxe..icsw w (nolock)
              ON w.whse = o.warehousecode
                 AND w.prod = oi.itemnumber
                 AND w.cono = 1
       LEFT JOIN bfgsxe..icsp p (nolock)
              ON p.prod = w.prod
                 AND p.cono = w.cono
       LEFT JOIN bfgsxe..icseu u (nolock)
              ON w.prod = u.prod
                 AND w.cono = u.cono
                 AND u.units = p.unitsell
       LEFT JOIN bfgsxe..sastaz p65 (nolock)
              ON p65.primarykey = w.prod
                 AND p65.cono = w.cono
                 AND p65.codeiden = 'PROP65'
       LEFT JOIN bfgsxe..icsec ic (nolock)
              ON ic.altprod = w.prod
                 AND ic.cono = w.cono
                 AND ic.rectype = 'C'
                 AND o.customernumber = ic.custno
       LEFT JOIN bfgsxe..pdsc pd (nolock)
              ON pd.custtype = 'LGIS'
                 AND pd.prod = 'p-' + w.pricetype
WHERE  o.sfaorderid = @sfaOrderId

END
GO
/****** Object:  StoredProcedure [dbo].[spGetOrderItemHistory]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetOrderItemHistory]
	@CustomerNumber decimal, 
	@SearchText nvarchar(100) = NULL,
	@VendorNumber decimal = NULL,
	@ExactMatch bit = 0,
	@StartDate date,
    @EndDate date,
	@SortDirection nvarchar(1) = 'A',
	@SortBy nvarchar(50) = '',
	@Skip int = 0,
    @Take int = 10
AS
begin
select
  case
    when i.itemid is null then 0
    else i.itemid
  end as ItemId,
  i.ItemName as [Name],
  @CustomerNumber as CustomerNumber,
  max(h.transdt) as OrderDate,
  l.vendno as VendorNumber,
  v.[name] as VendorName,
  l.shipprod as ItemNumber,
  uom.UnitOfMeasure,
  (select sum(Quantity) from EBusiness..[Availability]
		where itemId = i.ItemId
		group by itemId) as QuantityAvailable,
   sd.StockDefinition,
  (select 0) as Score,
  i.active as Active, 
  ic.sellmult as SellMultiple,
  COUNT(*) OVER () AS TotalRecords
from
  bfgsxe..oeeh h
  inner join bfgsxe..oeel l on h.custno = l.custno and h.orderno = l.orderno and h.ordersuf = l.ordersuf and h.cono = l.cono
  inner join PIM..Item i on l.shipprod = i.ItemNumber and i.Active = 1
  left join bfgsxe..apsv v on v.vendno = l.vendno AND v.cono = l.cono
  left join PIM..UnitOfMeasure uom on uom.UnitOfMeasureId = i.UnitOfMeasureId
  left join PIM..StockDesignation sd on sd.StockDesignationId = i.StockDesignationId
  left join bfgsxe..icsp ic on ic.prod = l.shipprod and ic.cono = l.cono
where
  h.cono = 1
  and h.invoicedt is not null
  and h.transtype <> 'qu'
  and l.custno = @CustomerNumber
  AND h.transdt > CAST(@StartDate AS DateTime)
  AND h.transdt < CAST(@EndDate AS DateTime)
  and (i.ItemNumber like CASE 
			WHEN @SearchText is null THEN i.ItemNumber 
			WHEN @ExactMatch = 1 THEN @SearchText
			WHEN @ExactMatch = 0 THEN '%' + @SearchText + '%'
			END
  OR i.ItemName like CASE 
			WHEN @SearchText is null THEN i.ItemName
			WHEN @ExactMatch = 1 THEN @SearchText
			WHEN @ExactMatch = 0 THEN '%' + @SearchText + '%'
			END)
  AND (@VendorNumber IS NULL OR @VendorNumber = 0 OR @VendorNumber = l.vendno)
group by
  l.vendno,
  v.[name],
  sd.StockDefinition,
  l.shipprod,
  i.itemid,
  i.active,
  i.ItemName,
  i.ItemNumber,
  uom.UnitOfMeasure,
  ic.sellmult
ORDER BY 
    CASE WHEN @SortDirection = 'A' THEN
        CASE --varchar
           WHEN @SortBy = 'Name' THEN i.ItemName
		   WHEN @SortBy = 'ItemNumber' THEN i.ItemNumber
		END
	END ASC,
	CASE WHEN @SortDirection = 'A' THEN
		CASE --Date
		   WHEN @SortBy = 'OrderDate' THEN max(h.transdt)
        END
    END ASC,
		CASE WHEN @SortDirection = 'A' THEN
		CASE --decimal
		   WHEN @SortBy = 'VendorNumber' THEN l.vendno
		   WHEN @SortBy = 'QuantityAvailable' THEN (select sum(Quantity) from EBusiness..[Availability]
														where itemId = i.ItemId
														group by itemId)
		   WHEN @SortBy = 'Score' THEN NULL --default 
		   WHEN @SortBy = '' THEN NULL --default 
        END
    END ASC
    ,CASE WHEN @SortDirection = 'D' THEN
        CASE --varchar
           WHEN @SortBy = 'Name' THEN i.ItemName
		   WHEN @SortBy = 'ItemNumber' THEN i.ItemNumber
		END
	END DESC,
	CASE WHEN @SortDirection = 'D' THEN
		CASE --Date
		   WHEN @SortBy = 'OrderDate' THEN max(h.transdt)
        END
    END DESC,
		CASE WHEN @SortDirection = 'D' THEN
		CASE --decimal
		   WHEN @SortBy = 'VendorNumber' THEN l.vendno
		   WHEN @SortBy = 'QuantityAvailable' THEN (select sum(Quantity) from EBusiness..[Availability]
														where itemId = i.ItemId
														group by itemId)
		   WHEN @SortBy = 'Score' THEN NULL --default 
		   WHEN @SortBy = '' THEN NULL --default 
        END
    END DESC
OFFSET @Skip ROWS FETCH NEXT @Take ROWS ONLY
end
GO
/****** Object:  StoredProcedure [dbo].[spGetPOHistoryByOrderNumber]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE[dbo].[spGetPOHistoryByOrderNumber] 

@OrderNumber nvarchar(30)


AS
/**************************************************************************/
/*    Added union select to add new PO Portal Hisotry records */
/**************************************************************************/

DECLARE @POID uniqueidentifier
SET @POID = (SELECT top 1 p.PO_DOC_ID
             FROM
                BFGSXE..PO_DOC_HDR_UNROLLED p (nolock)
             WHERE
                p.ORDER_NO = @OrderNumber)


--Headera
SELECT     
    eh.PO_DOC_ID, 
    eh.POEventHeaderID, 
    eh.EventDateTime, 
    CASE WHEN eh.AcknowledgedDate < '1/1/1950' THEN NULL ELSE eh.AcknowledgedDate END AS AcknowledgedDate,
    a.Action, 
    convert(nvarchar(max), eh.Notes) as Notes, 
    (CASE when u2.UserID is not null then u2.FirstName + ' ' + u2.LastName 
        when su2.USER_ID is not null then su2.FULL_NAME
        else NULL end) as CreateUser, 
    u1.FirstName + ' ' + u1.LastName as AcknowledgeUser,
    d.DOC_NO, 
    v.VENDOR_NAME AS VendorName, 
    dx.VENDOR_ORDER_NUM
FROM         
    VendorPortal.dbo.POEventHeader eh (nolock) 
    INNER JOIN BFGSXE.DBO.PO_DOC_HDR_UNROLLED d (nolock)  on eh.PO_DOC_ID = d.PO_DOC_ID
        LEFT OUTER JOIN BFGSXE.dbo.SA_VENDOR v (nolock) 
            ON d.VENDOR_ID = v.VENDOR_ID 
        LEFT OUTER JOIN VendorPortal.DBO.PO_DOC_HDR_X dx (nolock) 
            ON d.PO_DOC_ID = dx.PO_DOC_ID
    INNER JOIN VendorPortal.dbo.Actions a (nolock)  ON eh.ActionId = a.ActionID 
    LEFT OUTER JOIN VendorPortal.dbo.Users u1 (nolock)  ON eh.AcknowledgedByID = u1.UserID 
    LEFT OUTER JOIN VendorPortal.dbo.Users u2 (nolock)  ON eh.ChangeSourceID = u2.UserID
    LEFT OUTER JOIN BFGSXE.DBO.SY_USER su2 (nolock)  on eh.ChangeSourceID = su2.USER_ID
WHERE
    eh.PO_DOC_ID = @POID
UNION SELECT 
    ph.PO_DOC_ID,
    ph.POPortalEventHistoryID,
    ph.EventDateTime,
    null as AcknowledgedDate,
    a.Action,
    convert(nvarchar, ph.Notes) as Notes, 
    u.FirstName + ' ' + u.LastName as CreateUser,
    'N/A' as AcknowledgeUser,
    d.DOC_NO,
    v.VENDOR_NAME as VendorName,
    dx.VENDOR_ORDER_NUM
FROM
    VendorPortal.dbo.POPortalEventHistory ph (nolock) 
    INNER JOIN BFGSXE.DBO.PO_DOC_HDR_UNROLLED d (nolock)  on ph.PO_DOC_ID = d.PO_DOC_ID
        LEFT OUTER JOIN BFGSXE.dbo.SA_VENDOR v (nolock)  ON d.VENDOR_ID = v.VENDOR_ID
        LEFT OUTER JOIN VendorPortal.DBO.PO_DOC_HDR_X dx (nolock)  on d.PO_DOC_ID = dx.PO_DOC_ID
    INNER JOIN VendorPortal.dbo.Actions a (nolock)  on ph.ActionID = a.ActionID
    INNER JOIN VendorPortal.dbo.Users u (nolock)  on ph.ChangeSourceID = u.UserID
WHERE
    ph.PO_DOC_ID = @POID
ORDER BY 
    EventDateTime


--Details
SELECT top 1000
    eh.PO_DOC_ID, 
    ed.POEventHeaderID, 
    (CASE WHEN dd.ITEM_NO is null
        THEN (CASE WHEN ed.ActionID = 299 THEN 'Deleted Row' ELSE 
            (CASE WHEN ed.po_doc_dtl_id IS NULL THEN 'PO Header Field' ELSE 'DELETED' END) END)
        ELSE dd.ITEM_NO + ' - ' + dd.BASE_DESCRIPTION END) as Item,
    (CASE WHEN dd.VENDOR_PART_NO is null THEN NULL ELSE dd.VENDOR_PART_NO + ' - ' + dd.VENDOR_PART_DESC END) as VendorPart,
    convert(nvarchar(max), ed.Notes) as Notes, 
    ed.FieldName, 
    VendorPortal.dbo.FixAndConvertEventValue(ed.FieldName, ed.OldValue, coalesce(dd.AMT_CONV, 1)) AS OldValue,
    VendorPortal.dbo.FixAndConvertEventValue(ed.FieldName, ed.NewValue, coalesce(dd.AMT_CONV, 1)) AS NewValue,
    dd.SORT_ORDER as SortOrder
FROM         
    VendorPortal.dbo.POEventDetail ed  (nolock) 
    INNER JOIN VendorPortal.dbo.POEventHeader eh (nolock)  ON ed.POEventHeaderID = eh.POEventHeaderID 
    LEFT OUTER JOIN BFGSXE.DBO.PO_DOC_DTL_UNROLLED dd (nolock)  ON ed.PO_DOC_DTL_ID = dd.PO_DOC_DTL_ID
WHERE
    eh.PO_DOC_ID = @POID
UNION SELECT 
    ph.PO_DOC_ID,
    ph.POPortalEventHistoryID,
    'PO Header Field' as Item,
    Null as VendorPart,
    convert(nvarchar, ph.Notes) as Notes, 
    ph.FieldName,
    ph.OldValue,
    ph.NewValue,
    1 as SortOrder
FROM
    VendorPortal.dbo.POPortalEventHistory ph (nolock) 
    INNER JOIN BFGSXE.DBO.PO_DOC_HDR_UNROLLED d (nolock)  on ph.PO_DOC_ID = d.PO_DOC_ID
        LEFT OUTER JOIN BFGSXE.dbo.SA_VENDOR v (nolock)  ON d.VENDOR_ID = v.VENDOR_ID
        LEFT OUTER JOIN VendorPortal.DBO.PO_DOC_HDR_X dx (nolock)  on d.PO_DOC_ID = dx.PO_DOC_ID
    INNER JOIN VendorPortal.dbo.Actions a (nolock)  on ph.ActionID = a.ActionID
    INNER JOIN VendorPortal.dbo.Users u (nolock)  on ph.ChangeSourceID = u.UserID
WHERE
    ph.PO_DOC_ID = @POID
ORDER BY 
    SortOrder

GO
/****** Object:  StoredProcedure [dbo].[SYNC_Terms]    Script Date: 3/18/2026 10:20:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYNC_Terms]

AS
BEGIN

		MERGE Term AS dest
		USING (SELECT * FROM SFA_SALES..SA_TERM s (nolock)) source
		ON (dest.TermCode = source.TERM_CODE)
		WHEN MATCHED AND (
			Coalesce(dest.Description,'') <> Coalesce(source.Description,'') or
			Coalesce(dest.Display,0) <> Coalesce(source.Display,0) or
			Coalesce(dest.StartMonth,-1) <> Coalesce(source.Start_Month,-1) or
			Coalesce(dest.StartYear,-1) <> Coalesce(source.Start_Year,-1) or
			Coalesce(dest.EndMonth,-1) <> Coalesce(source.End_Month,-1) or
			Coalesce(dest.EndYear,-1) <> Coalesce(source.End_Year,-1) or
			Coalesce(dest.AddOnMargin,-1.2345) <> Coalesce(source.Add_On_Margin,-1.2345) or
			Coalesce(dest.MonthlyReduction,-1.2345) <> Coalesce(source.Monthly_Reduction,-1.2345) or
			Coalesce(dest.Warehouse,0) <> Coalesce(source.Warehouse,0) or
			Coalesce(dest.AllVendors,0) <> Coalesce(source.All_Vendors,0))
			THEN UPDATE SET 
				Description = source.Description,
				Display = source.Display,
				StartMonth = source.Start_Month,
				StartYear = source.Start_Year,
				EndMonth = source.End_Month,
				EndYear = source.End_Year,
				AddOnMargin = source.Add_On_Margin,
				MonthlyReduction = source.Monthly_Reduction,
				Warehouse = source.Warehouse,
				AllVendors = source.All_Vendors
		WHEN NOT MATCHED BY TARGET 
			THEN INSERT (TermCode, Description, Display, StartMonth, StartYear, EndMonth, EndYear, AddOnMargin, MonthlyReduction, Warehouse, AllVendors) VALUES 
			(source.TERM_CODE, source.Description, source.Display, source.Start_Month, source.Start_Year, source.End_Month, source.End_Year, 
			source.Add_On_Margin, source.Monthly_Reduction, source.Warehouse, source.All_Vendors);


		MERGE TermVendor AS dest
		USING (SELECT t.TERM_CODE, v.VENDOR_NO FROM SFA_SALES..SA_TERM_VENDOR tv (nolock) inner join SFA_SALES..SA_TERM t (nolock) on t.AR_TERM_ID = tv.TERM_ID inner join bfgsxe..SA_VENDOR v (nolock) on v.VENDOR_ID = tv.VENDOR_ID) source
		ON (dest.TermCode = source.TERM_CODE AND dest.VendorNumber = source.VENDOR_NO)
		WHEN NOT MATCHED BY TARGET 
			THEN INSERT (TermCode, VendorNumber) VALUES 
			(source.TERM_CODE, source.VENDOR_NO)
		WHEN NOT MATCHED BY SOURCE 
			THEN DELETE;



END

GO
